.content7 {
    background: rgb(56, 56, 56);
    display: flex;
    flex-direction: row; /* Aca hay un cambio */
    align-items: center;
    justify-content: space-around;
}
.column { /* Rubén crea un estilo para la columna */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h5 {
    margin-top: 35px;
    margin-left: 35px;
    color: blanchedalmond;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    text-align: left;
}
.footer-nav a {
    margin-top: 35px;
    margin-left: 35px;
    color: #ffffff;
}
h6 {
    text-align: center;
    color: #19d8e6;
}
i {
    text-align: center;
    color: #19d8e6;
}